.root {
    -fx-background-image: url("../Images/demobackground.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.button {
    -fx-background-image: url("../Images/banana.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #3b2f1a;
    -fx-font-family: "Eras Bold ITC";
    -fx-font-size: 18px;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

/* di chuột thêm hiệu ứng */
..button:hover {
     -fx-scale-x: 1.1;
     -fx-scale-y: 1.1;
     -fx-effect: dropshadow(gaussian, rgba(255, 255, 100, 0.8), 15, 0.5, 0, 0);
 }


/* căn vtri từng nút */
#startButton { -fx-translate-y: 0; }
#instructionsButton { -fx-translate-y: 2; }
#highScoresButton { -fx-translate-y: 4; }
#settingsButton { -fx-translate-y: 6; }
#exitButton { -fx-translate-y: 8; }
