.toggle-button {
    -fx-font-size: 16px;
    -fx-background-color: #F44336; // đỏ
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-pref-width: 100;
    -fx-pref-height: 35;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-background-color: #4CAF50; // xanh
}

.back-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #ffeb3b;
    -fx-text-fill: #333;
    -fx-background-radius: 20;
    -fx-pref-width: 150;
    -fx-pref-height: 40;
    -fx-cursor: hand;
    -fx-border-color: #fdd835;
    -fx-border-width: 2;
}

.back-button:hover {
    -fx-background-color: #fff176;
}
